

@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout Class="page">
    <MudMainContent>
        @if (AuthState.IsInitialized)
        {
            <article class="content px-4">
                @Body
            </article>
        }
        else
        {
            <div class="message"> Loading ....</div>
        }
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode;

    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

}