<h1>Login</h1>
    
     <EditForm Model="Requests" Enhance="true" OnValidSubmit="LoginAsync" FormName="LoginForm">
         <DataAnnotationsValidator/>

         <div class="row">
             <label class="form-label">Email:</label>
             <InputText @bind-Value="Requests.Email" DisplayName="Email"/>
             <ValidationMessage For="() => Requests.Email"/>
         </div>
         <div class="row">
             <label class="form-label">Password:</label>
             <InputText @bind-Value="Requests.Password" DisplayName="Password"/>
             <ValidationMessage For="() => Requests.Password"/>
         </div>
         <button type="submit">Login</button>         

     </EditForm>       

 @if (Errors is not null)
{
    <div class="blazor-error-boundary">@Errors</div>
}


@code{
    [SupplyParameterFromForm(FormName = "LoginForm")]
    private LoginRequests Requests { get; set; } = new LoginRequests();
    [Parameter]public string? Errors { get; set; } = null!;

    [Parameter] public EventCallback<LoginRequests> Callback { get; set; }


    private async Task LoginAsync(EditContext arg)
    {
        if (Requests is not null)
            await Callback.InvokeAsync(Requests);
        else
            Errors = "Fill pls ";
    }

}